@import "normalize";
@import "prism-okaidia";

@mixin clear-fix {
	float: left;
	clear: both;
	width: 100%;
}

@function rem ($pixels) {
	@return ($pixels / 16) + rem;
}

$breakpoint: rem(640);

$grey-light: #e2e3e4;
$grey-dark: #333;
$white: #fff; 
$blue: #069;

body {
	font-family: Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

// Helpers
.break-show {
	display: none;
}
@media all and (min-width: $breakpoint) {
	.break-show {
		display: initial;
	}
	.break-hide {
		display: none;
	}
}


h1,
h2,
h3,
h4,
h5,
h6,
p, 
li,
strong,
span {
	&::selection {
		color: $white;
	}
	&::-moz-selection {
		color: $white;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
}
p {
	margin-top: 0;
	line-height: rem(25);
	&:last-child {
		margin-bottom: 0;
	}
}
li,
pre,
code {
	line-height: rem(25);
}
a {
	color: $blue;
	text-decoration: none;
	transition: .25s color ease;
	&:hover {
		color: darken($blue, 20%);
	}
}
pre {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	&[class*="language-"] {
		margin: 0;
		padding: 0;
		background-color: transparent;
	}
	code {
		background-color: transparent;
		&[class*="language-"] {
			padding-right: 0;
			padding-left: 0;
		}
	}
}
code[class*="language-"] {
	display: inline-block;
	padding: 0 rem(4);
	background-color: #333;
	border-radius: rem(3);  
}
::selection {
	background-color: $blue;
}
::-moz-selection {
	background-color: $blue;
}
@media all and (min-width: $breakpoint) {
	h1 {
		font-size: rem(60);
	}
	h2 {
		font-size: rem(50);
	}
	h3 {
		font-size: rem(40);
	}
	h4 {
		font-size: rem(30);
	}
	h5 {
		font-size: rem(25);
		font-weight: 300;
	}
	h6 {
		font-size: rem(20);
	}
	p,
	li,
	pre,
	code {
		font-size: rem(20);
		line-height: rem(30);
	}
}

.multiple-level-menu_wrapper {
	@include clear-fix;
}
.multiple-level-menu_list {
	background-color: $grey-light;
	li {
		cursor: pointer;
		&:hover {
			background-color: $blue;
		}
	}
	.multiple-level-menu_list {
		background-color: darken($grey-light, 10%);
		.multiple-level-menu_list {
			background-color: darken($grey-light, 20%);
		}
	}
}

.site-header,
.site-footer,
.strip,
.col {
	padding: rem(15);
}
@media all and (min-width: $breakpoint) {
	.site-header,
	.site-footer,
	.strip,
	.col {
		padding: rem(30);
	}
}

.site-header,
.site-footer {
	@include clear-fix;
	color: $white;
	text-align: center;
	a {
		color: darken($grey-light, 20%);
		&:hover {
			color: darken($grey-light, 40%);
		}
	}
}

.site-header {
	background-color: $blue;
}

.site-footer {
	background-color: $grey-dark;
	font-weight: 300;
}

.strip {
	@include clear-fix;
	background-color: $white;
	&.header {
		background-color: $grey-light;
	}
	&.content {
		+ .content {
			border-top: rem(1) solid $grey-light;
		}
	}
	&.row {
		display: table;
		table-layout: fixed;
		padding: 0;
	}
}

.col {
	+ .col {
		color: $white;
		background-color: $grey-dark;
	}
}

@media all and (min-width: $breakpoint) {
	.col {
		display: table-cell;
		vertical-align: top;
		width: 50%;
	}
}